
.carousel-item img {
	height: 300px;
	width: 700px;
	margin: 0 auto;	
	background-color: black;
}

.carousel-item {
	background-color: black;
}

.main-content h3 {
	text-decoration: underline;
}

.projectone {
	float: left;
}

.projects-content h4 {
	text-decoration: underline;
}

footer {
	clear: both;
}