.carousel-item img {
  height: 500px;
  width: 790px;
  margin: 0 auto;
  background-color: #190928;
}

.carousel-item {
  background-color: #190928;
}

.card{
  color: white;
  background: #684E7D;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #684E7D, #F3613F);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #684E7D, #F3613F);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #684E7D, #F3613F);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #684E7D, #F3613F);
  /* Standard syntax */
}

.main-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content h3 {
  text-decoration: underline;
}

.projects-content {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;


  /*clear: both;*/
  /*flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;*/
}

.projects-content h4 {
  text-decoration: underline;
}


.project-one img{
  float: right;

}



.footer h1 {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: #292b2c;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

body {
  color: white;
  background-color: #190928;
  font-family: 'Ranga', cursive;
  font-size: 25px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('../images/jumbo-pic.jpg')no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}

.jumbotron h1 {
  font-size: 100px;
}

.profile-pic {
  height: 250px;
  width: 250px;
  border-radius: 50px;
  float: left;
  border: 3px solid white;
  margin-bottom: 20px;
  /*position: absolute;*/
}

.skill-content {
  background: #684E7D;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #684E7D, #F3613F);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #684E7D, #F3613F);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #684E7D, #F3613F);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #684E7D, #F3613F);
  /* Standard syntax */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  clear: both;
}

.skill-heading {
  left: 100px;
  float: left;
}

.vault-boy {
  height: 200px;
  width: 200px;
  position: relative;
  float: left;
}

.carousel-caption {
  background-color: rgba(128, 128, 128, 0.9);
  text-align: center;
}

h1 {
  text-decoration: underline;
  margin: 0;
}




.container {
  position: relative;
  width: 30%;
  padding: 10px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, .5);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .skill-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    clear: left;
  }
  .projects-content {
  display: inline-block;
  /*flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;*/
  }
  .projects-content img {
    width: 400px;
    /*height: 100vh;*/

  }
  .overlay{
    width: 62vw;
  }
}
